<?xml version="1.0" encoding="UTF-8"?>
<templates xml:space="preserve">

    <t t-name="odoo_todo.TodoApp">
        <div class="o_todo_app">

            <h1>Odoo Todo</h1>

            <div class="o_todo_card">

                <h3>Today's Tasks</h3>

                <div class="o_todo_list">
                    <t t-foreach="this.todos" t-as="todo" t-key="todo.id">
                        <TodoItem todo="todo"/>
                    </t>
                </div>

                <button
                    class="btn btn-primary"
                    t-on-click="this.onAddTodoClick"
                >
                    Add Todo
                </button>

            </div>

        </div>
    </t>

</templates>
